:root {
    width: 100%;
}

.test {
    height: 50vh;
    background-color: green;
}

.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url("./img/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}