.footer {
    background-color: #45595b;
}

.footer h1 {
    color: #81c408;
}

.footer .btn {
    border: 1px solid #ffb524;
    color: #ffb524;
}

.footer .footer-item a {
    color: #81c408;
}

.footer .btn:hover {
    border: 1px solid #ffb524;
    color: #fff;
    background-color: #ffb524;
}

.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, .5);
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color: #ffb524;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;

}

.footer a {
    text-decoration: none;
}

.footer .btn-sub-now {
    background-color: #81c408;
}

.footer .btn-sub-now:hover {
    background-color: #ffb524;
}

.btn-outline-secondary {
    color: #ffb524;
    border-color: #ffb524;
}

.back-to-top {
    background: #81c408 !important;
    border: none !important;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}