/* From Uiverse.io by david-mohseni */ 
.card {
    width: 190px;
    height: 120px;
    background-color: #eee;
    text-align: center;
    border: 10px solid #eee;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #bbb, inset -5px -5px 10px #fff;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* To center the icon and content */
    overflow: hidden;
  }
  
  .card:hover {
    height: 254px;
  }

  h1{color: #999;}
  .content {
    color: #999;
    background-color: #eee;
    padding: 10px;
    margin: 10px 0; /* Adjusted margin */
    border-radius: 8px;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    transform: translateY(-80px) scale(0);
    transition: all 0.5s;
    width: 100%; /* Adjust width */
  }
  
  .card:hover .content {
    transform: translateY(0) scale(1);
  }
  
  .content h3 {
    text-shadow: 2px 2px 0px #fff;
  }