.tableCartHeader th {
  background-color: #b7472a !important;
  color: white !important;
  text-align: center;
  padding: 10px;
  border-radius: 0;
  border-right: 1px solid #fff;
}

.tableCartHeader th:first-child {
  border-top-left-radius: 4px;
}

.tableCartHeader th:last-child {
  border-top-right-radius: 4px;
  border-right: none;
}

.table th,
.table td {
  vertical-align: middle;
}
.img-cart {
  width: 150px;
  height: 150px;
  object-fit: center;
  background-position: center;
}

.button-cart {
  background-color: #b7472a !important;
  color: white;
  transition: ease-in-out 0.5s;
}

.button-cart:hover {
  background-color: green !important;
}

.test123 {
    color: red !important;
}

/* .form-input Input {
  width: 60%;
} */

.form-input Lable {

}